Thumbs.db
target/
out/
.micronaut/
.idea
*.ipr
*.iws
.project
.settings
.classpath
.factorypath

# Kotlin
.kotlin/

# Environment
.env
.env.*

# Gradle
.gradle/
.gradle
build/

# MacOS
.DS_Store

# IntelliJ
.idea/
*.iml